@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LekkerBek</h1>
    <img src="@Url.Content("~/Content/Images/LogoLekkerbek.jpeg")" alt="LogoLekkerbek">
    <img src="~/Content/Views/Home/LogoLekkerbek.jpeg" alt="LogoLekkerbek" />
</div>
